<h3>About your To-Do List</h3>
<br />
<p> This is a way for you to access your To-Do List. You can add items to your list, like errands to run or reminders to yourself to pick up milk on the way home from work. </p>
<p> After items have been added, you can edit them if they change, or delete them once you've done them!</p>
